In [90]:
import pandas as pd
import numpy as np
import glob
import re

We first merge individual CSVs to create a tidy dataset. Our units of interest (comprising one row) consist of unique combinations of state, gender, and year. Since the goal of this project is to look at recidivism, we are interested only in convicted individuals in prison. We have caste, education, and other demographic information for only a subset of the

In [91]:
fileList = glob.glob("./Data/*.csv")
dfNames = [re.search("[(\\\)](.*)\.",file).group(1) for file in fileList]

for idx in range(len(dfNames)):
    df = pd.read_csv(fileList[idx])
    name = dfNames[idx]
    vars()[name] = df
    print(vars()['name'])

Age_group
Caste
Death_sentence
Domicile
Education
Education_facilities
Inmates_death
Inmates_escapee
IPC_crime_inmates_convicted
IPC_crime_inmates_under_trial
Jail_wise_population_of_prison_inmates
Prison_details_2015
Recidivism
Rehabilitation
Religion
Sentence_period
Tranquillity
Vocational_training
Wages

## IPC Crimes (Convicted Prisoners)
- aggregated into Theft, Business, Sexual, and Violent crimes
- column names prefixed by IPC

In [92]:
IPC_crime_inmates_convicted.groupby(["crime_head"]).sum(). \
sort_values(by=['Grand Total'])

,year,Male 16-18 years,Female 16-18 years,Total 16-18 years,Male 18-30 years,Female 18-30 years,Total 18-30 years,Male 30-50 years,Female 30-50 years,Total 30-50 years,Male Above 50 years,Female Above 50 years,Total Above 50 years,Total Male,Total Female,Grand Total
crime_head,,,,,,,,,,,,,,,,
Eve-Teasing,897149,0.0,0,0,412,21,433,364,6,370,100,8,108,876,35,911
Arson,897149,1.0,0,1,1240,31,1271,1185,22,1207,361,8,369,2787,61,2848
Extortion,897149,3.0,0,3,1189,13,1202,1512,42,1554,377,5,382,3081,60,3141
Molestation,897149,1.0,0,1,1286,51,1337,1418,67,1485,448,25,473,3153,143,3296
Criminal Breach Of Trust,897149,0.0,0,0,1282,13,1295,1607,34,1641,583,11,594,3472,58,3530
Riots,897149,11.0,0,11,1679,7,1686,1570,21,1591,430,12,442,3690,40,3730
Counter Feiting,897149,0.0,0,0,1705,22,1727,2053,73,2126,615,50,665,4373,145,4518
Prep. And Assembly For Dacoity,897149,2.0,0,2,3753,16,3769,3708,32,3740,958,6,964,8421,54,8475
Cheating,897149,9.0,0,9,4277,99,4376,4631,200,4831,1215,29,1244,10132,328,10460
Burglary,897149,34.0,0,34,6075,30,6105,5760,81,5841,1543,65,1608,13412,176,13588
Cruelty By Husband Or Relative Of Husband,897149,7.0,1,8,4728,330,5058,6654,614,7268,2835,375,3210,14224,1320,15544
Robbery,897149,45.0,0,45,12719,97,12816,10513,94,10607,2644,15,2659,25921,206,26127
Kidnapping And Abduction,897149,59.0,0,59,12579,444,13023,12775,704,13479,3560,179,3739,28973,1327,30300
Dacoity,897149,30.0,0,30,15733,64,15797,15870,140,16010,3402,23,3425,35035,227,35262
Other Ipc Crimes,897149,39.0,0,39,16082,422,16504,16386,618,17004,5300,191,5491,37807,1231,39038
C.H. Not Amounting To Murder,897149,49.0,1,50,14777,418,15195,19105,1021,20126,7633,317,7950,41564,1757,43321
Dowry Deaths,897149,8.0,2,10,13143,1262,14405,17931,3112,21043,8886,2120,11006,39968,6496,46464
Thefts,897149,284.0,1,285,24617,511,25128,20451,661,21112,4951,106,5057,50303,1279,51582
Rape,897149,133.0,0,133,38819,255,39074,32749,316,33065,6634,61,6695,78335,632,78967
Attempt To Commit Murder,897149,72.0,1,73,30979,729,31708,40223,1130,41353,15739,372,16111,87013,2232,89245
Murder,905163,251.0,0,251,228695,6188,234883,372461,13629,386090,117738,4960,122698,719145,24777,743922

In [93]:
ViolentCrimes=["Murder","Attempt To Commit Murder","C.H. Not Amounting To Murder","Kidnapping And Abduction","Dacoity","Arson"]
SexualCrimes=["Rape","Dowry Deaths","Cruelty By Husband Or Relative Of Husband","Molestation","Eve-Teasing"]
BusinessCrimes=["Cheating","Counter Feiting","Criminal Breach Of Trust"]
TheftCrimes=["Thefts","Robbery","Burglary", "Prep. And Assembly For Dacoity", "Extortion"]

IPC_crime_inmates_convicted_fin = IPC_crime_inmates_convicted.assign(CrimeType= #aggregating crimes into crime types
                                   np.select([IPC_crime_inmates_convicted["crime_head"].isin(ViolentCrimes),
                                             IPC_crime_inmates_convicted["crime_head"].isin(SexualCrimes),
                                             IPC_crime_inmates_convicted["crime_head"].isin(BusinessCrimes),
                                             IPC_crime_inmates_convicted["crime_head"].isin(TheftCrimes)],
                                            ["Violent","Sexual","Business","Theft"],
                                            default="Unknown")). \
filter(["state_name","year","Total 16-18 years", "Total 18-30 years","Total 30-50 years","Total Above 50 years","CrimeType"]). \
groupby(["state_name","year","CrimeType"]).sum(). \
assign(Total=lambda df: df.sum(axis=1)). \
pivot_table(index=["state_name","year"],
           columns=["CrimeType"]). \
assign(All=lambda df: df.sum(axis=1))

IPC_crime_inmates_convicted_fin=IPC_crime_inmates_convicted_fin.div(IPC_crime_inmates_convicted_fin['All'],axis=0). \
drop(['All'],axis=1)

In [94]:
#IPC_crime_inmates_convicted_fin.columns = [' '.join(col).strip() for col in IPC_crime_inmates_convicted_fin.columns.values]

valColNames=["IPC-prop-{}-{}".format(b_, a_) for a_, b_ in zip(IPC_crime_inmates_convicted_fin.columns.get_level_values(0),
         IPC_crime_inmates_convicted_fin.columns.get_level_values(1))]

IPC_crime_inmates_convicted_fin.columns=valColNames
IPC_crime_inmates_convicted_fin

                    IPC-prop-Business-Total  IPC-prop-Sexual-Total  \
state_name    year
A & N Islands 2001                 0.000000               0.000000
              2002                 0.000000               0.021739
              2003                 0.000000               0.021429
              2004                 0.008929               0.035714
              2005                 0.000000               0.036585
...                                     ...                    ...
West Bengal   2009                 0.003019               0.093939
              2010                 0.003511               0.080068
              2011                 0.008107               0.071934
              2012                 0.015197               0.063052
              2013                 0.003874               0.080447

                    IPC-prop-Theft-Total  IPC-prop-Unknown-Total  \
state_name    year
A & N Islands 2001              0.000000                0.140625
              2002              0.000000                0.181159
              2003              0.042857                0.135714
              2004              0.044643                0.080357
              2005              0.073171                0.000000
...                                  ...                     ...
West Bengal   2009              0.023456                0.006967
              2010              0.025142                0.003284
              2011              0.025348                0.014387
              2012              0.021233                0.017461
              2013              0.019257                0.005014

                    IPC-prop-Violent-Total  \
state_name    year
A & N Islands 2001                0.359375
              2002                0.297101
              2003                0.300000
              2004                0.330357
              2005                0.390244
...                                    ...
West Bengal   2009                0.372620
              2010                0.387995
              2011                0.380224
              2012                0.383057
              2013                0.391408

                    IPC-prop-Business-Total 16-18 years  \
state_name    year
A & N Islands 2001                                  0.0
              2002                                  0.0
              2003                                  0.0
              2004                                  0.0
              2005                                  0.0
...                                                 ...
West Bengal   2009                                  0.0
              2010                                  0.0
              2011                                  0.0
              2012                                  0.0
              2013                                  0.0

                    IPC-prop-Sexual-Total 16-18 years  \
state_name    year
A & N Islands 2001                                0.0
              2002                                0.0
              2003                                0.0
              2004                                0.0
              2005                                0.0
...                                               ...
West Bengal   2009                                0.0
              2010                                0.0
              2011                                0.0
              2012                                0.0
              2013                                0.0

                    IPC-prop-Theft-Total 16-18 years  \
state_name    year
A & N Islands 2001                               0.0
              2002                               0.0
              2003                               0.0
              2004                               0.0
              2005                               0.0
...                                              ...
West Bengal   2009                               0.0
              2010                               0.0
              2011                               0.0
              2012                               0.0
              2013                               0.0

                    IPC-prop-Unknown-Total 16-18 years  \
state_name    year
A & N Islands 2001                                 0.0
              2002                                 0.0
              2003                                 0.0
              2004                                 0.0
              2005                                 0.0
...                                                ...
West Bengal   2009                                 0.0
              2010                                 0.0
              2011                                 0.0
              2012                                 0.0
              2013                                 0.0

                    IPC-prop-Violent-Total 16-18 years  ...  \
state_name    year                                      ...
A & N Islands 2001                                 0.0  ...
              2002                                 0.0  ...
              2003                                 0.0  ...
              2004                                 0.0  ...
              2005                                 0.0  ...
...                                                ...  ...
West Bengal   2009                                 0.0  ...
              2010                                 0.0  ...
              2011                                 0.0  ...
              2012                                 0.0  ...
              2013                                 0.0  ...

                    IPC-prop-Business-Total 30-50 years  \
state_name    year
A & N Islands 2001                             0.000000
              2002                             0.000000
              2003                             0.000000
              2004                             0.008929
              2005                             0.000000
...                                                 ...
West Bengal   2009                             0.002090
              2010                             0.002492
              2011                             0.003768
              2012                             0.006790
              2013                             0.002393

                    IPC-prop-Sexual-Total 30-50 years  \
state_name    year
A & N Islands 2001                           0.000000
              2002                           0.014493
              2003                           0.021429
              2004                           0.017857
              2005                           0.024390
...                                               ...
West Bengal   2009                           0.040409
              2010                           0.030804
              2011                           0.034483
              2012                           0.023604
              2013                           0.034982

                    IPC-prop-Theft-Total 30-50 years  \
state_name    year
A & N Islands 2001                          0.000000
              2002                          0.000000
              2003                          0.000000
              2004                          0.000000
              2005                          0.048780
...                                              ...
West Bengal   2009                          0.009289
              2010                          0.012118
              2011                          0.010162
              2012                          0.008946
              2013                          0.008090

                    IPC-prop-Unknown-Total 30-50 years  \
state_name    year
A & N Islands 2001                            0.101562
              2002                            0.094203
              2003                            0.042857
              2004                            0.035714
              2005                            0.000000
...                                                ...
West Bengal   2009                            0.002903
              2010                            0.001586
              2011                            0.010048
              2012                            0.007329
              2013                            0.001709

                    IPC-prop-Violent-Total 30-50 years  \
state_name    year
A & N Islands 2001                            0.218750
              2002                            0.173913
              2003                            0.142857
              2004                            0.169643
              2005                            0.268293
...                                                ...
West Bengal   2009                            0.216094
              2010                            0.234541
              2011                            0.182576
              2012                            0.199612
              2013                            0.220488

                    IPC-prop-Business-Total Above 50 years  \
state_name    year
A & N Islands 2001                                0.000000
              2002                                0.000000
              2003                                0.000000
              2004                                0.000000
              2005                                0.000000
...                                                    ...
West Bengal   2009                                0.000581
              2010                                0.000566
              2011                                0.002169
              2012                                0.000862
              2013                                0.000456

                    IPC-prop-Sexual-Total Above 50 years  \
state_name    year
A & N Islands 2001                              0.000000
              2002                              0.000000
              2003                              0.000000
              2004                              0.000000
              2005                              0.012195
...                                                  ...
West Bengal   2009                              0.018579
              2010                              0.015968
              2011                              0.014273
              2012                              0.011856
              2013                              0.018687

                    IPC-prop-Theft-Total Above 50 years  \
state_name    year
A & N Islands 2001                             0.000000
              2002                             0.000000
              2003                             0.000000
              2004                             0.000000
              2005                             0.000000
...                                                 ...
West Bengal   2009                             0.002787
              2010                             0.001812
              2011                             0.005481
              2012                             0.002156
              2013                             0.003418

                    IPC-prop-Unknown-Total Above 50 years  \
state_name    year
A & N Islands 2001                               0.015625
              2002                               0.021739
              2003                               0.007143
              2004                               0.000000
              2005                               0.000000
...                                                   ...
West Bengal   2009                               0.001161
              2010                               0.000000
              2011                               0.000571
              2012                               0.000539
              2013                               0.001823

                    IPC-prop-Violent-Total Above 50 years
state_name    year
A & N Islands 2001                               0.023438
              2002                               0.021739
              2003                               0.007143
              2004                               0.000000
              2005                               0.073171
...                                                   ...
West Bengal   2009                               0.073502
              2010                               0.080634
              2011                               0.087577
              2012                               0.071567
              2013                               0.082840

[447 rows x 25 columns]

# All-Surveyed-Prisoner Demographics

## Jail-Wise Population
- breakdown of surveyed prisoners among different jail types
- column names prefixed by JWP

In [95]:
Jail_wise_population_of_prison_inmates_fin = Jail_wise_population_of_prison_inmates[["state_name","year","Jail_Type","Total_Convicts"]]. \
pivot_table(index=["state_name","year"], 
           columns="Jail_Type", values="Total_Convicts")

Jail_wise_population_of_prison_inmates_fin=Jail_wise_population_of_prison_inmates_fin. \
div(Jail_wise_population_of_prison_inmates_fin['Total'], axis=0). \
drop(['Total'],axis=1)

Jail_wise_population_of_prison_inmates_fin.columns= ["JWP-prop-"+s for s in Jail_wise_population_of_prison_inmates_fin.columns]
Jail_wise_population_of_prison_inmates_fin

                    JWP-prop-Borstal School  JWP-prop-Central Jail  \
state_name    year
A & N Islands 2001                      0.0               0.000000
              2002                      0.0               0.000000
              2003                      0.0               0.000000
              2004                      0.0               0.000000
              2005                      0.0               0.000000
...                                     ...                    ...
West Bengal   2009                      0.0               0.772597
              2010                      0.0               0.738491
              2011                      0.0               0.756890
              2012                      0.0               0.776697
              2013                      0.0               0.808829

                    JWP-prop-District Jail  JWP-prop-Open Jail  \
state_name    year
A & N Islands 2001                1.000000            0.000000
              2002                1.000000            0.000000
              2003                1.000000            0.000000
              2004                1.000000            0.000000
              2005                0.984848            0.000000
...                                    ...                 ...
West Bengal   2009                0.146815            0.016557
              2010                0.196435            0.016615
              2011                0.168375            0.017491
              2012                0.158159            0.012316
              2013                0.120034            0.015450

                    JWP-prop-Others  JWP-prop-Special Jail  JWP-prop-Sub_Jail  \
state_name    year
A & N Islands 2001              0.0               0.000000           0.000000
              2002              0.0               0.000000           0.000000
              2003              0.0               0.000000           0.000000
              2004              0.0               0.000000           0.000000
              2005              0.0               0.000000           0.015152
...                             ...                    ...                ...
West Bengal   2009              0.0               0.033621           0.011488
              2010              0.0               0.021807           0.006750
              2011              0.0               0.021908           0.008481
              2012              0.0               0.012640           0.016367
              2013              0.0               0.012224           0.017997

                    JWP-prop-Women Jail
state_name    year
A & N Islands 2001             0.000000
              2002             0.000000
              2003             0.000000
              2004             0.000000
              2005             0.000000
...                                 ...
West Bengal   2009             0.018922
              2010             0.019903
              2011             0.026855
              2012             0.023821
              2013             0.025467

[447 rows x 8 columns]

## Religion
- column names prefixed by REL

In [96]:
Religion_fin = Religion.query("is_state==1"). \
drop(["is_state","under_trial","detenues","others"],axis=1). \
pivot_table(index=["state_name","year"],
           columns=["gender","religion"],
           values="convicts"). \
assign(All=lambda df: df.sum(axis=1))

Religion_fin=Religion_fin.div(Religion_fin['All'], axis=0). \
drop(['All'],axis=1)

valColNames=["REL-prop-{}-{}".format(b_, a_) for a_, b_ in zip(Religion_fin.columns.get_level_values(0),
         Religion_fin.columns.get_level_values(1))]

Religion_fin.columns=valColNames

Religion_fin

                     REL-prop-Christian-Female  REL-prop-Hindu-Female  \
state_name     year
Andhra Pradesh 2001                   0.000000               0.021085
               2002                   0.000616               0.027915
               2003                   0.002331               0.026035
               2004                   0.002308               0.035257
               2005                   0.002594               0.033127
...                                        ...                    ...
West Bengal    2009                   0.000845               0.034127
               2010                   0.000692               0.032364
               2011                   0.000707               0.033392
               2012                   0.000648               0.039216
               2013                   0.000849               0.036842

                     REL-prop-Muslim-Female  REL-prop-Others-Female  \
state_name     year
Andhra Pradesh 2001                0.002843                0.000237
               2002                0.002463                0.000000
               2003                0.005051                0.000000
               2004                0.003778                0.000000
               2005                0.003792                0.000000
...                                     ...                     ...
West Bengal    2009                0.032607                0.000845
               2010                0.032883                0.000000
               2011                0.029682                0.000000
               2012                0.025280                0.000000
               2013                0.024278                0.000340

                     REL-prop-Sikh-Female  REL-prop-Christian-Male  \
state_name     year
Andhra Pradesh 2001              0.000000                 0.068941
               2002              0.000000                 0.096880
               2003              0.000000                 0.091510
               2004              0.000000                 0.088353
               2005              0.000000                 0.096188
...                                   ...                      ...
West Bengal    2009              0.000000                 0.009292
               2010              0.000000                 0.022672
               2011              0.000177                 0.021555
               2012              0.000324                 0.020094
               2013              0.000000                 0.026146

                     REL-prop-Hindu-Male  REL-prop-Muslim-Male  \
state_name     year
Andhra Pradesh 2001             0.786070              0.106136
               2002             0.773194              0.093596
               2003             0.781037              0.090538
               2004             0.782162              0.085414
               2005             0.759928              0.101377
...                                  ...                   ...
West Bengal    2009             0.431999              0.479980
               2010             0.447906              0.445656
               2011             0.482332              0.428799
               2012             0.492141              0.418895
               2013             0.512903              0.395586

                     REL-prop-Others-Male  REL-prop-Sikh-Male
state_name     year
Andhra Pradesh 2001              0.011846            0.002843
               2002              0.002874            0.002463
               2003              0.001943            0.001554
               2004              0.000000            0.002728
               2005              0.000000            0.002993
...                                   ...                 ...
West Bengal    2009              0.007096            0.003210
               2010              0.005365            0.012461
               2011              0.002473            0.000883
               2012              0.001945            0.001458
               2013              0.002037            0.001019

[355 rows x 10 columns]

In [97]:
Religion.query("is_state==1"). \
drop(["is_state","under_trial","detenues","others"],axis=1). \
groupby(["state_name","year","gender"]).sum()

                            convicts
state_name     year gender
Andhra Pradesh 2001 Female       102
                    Male        4119
               2002 Female       151
                    Male        4721
               2003 Female       172
...                              ...
West Bengal    2011 Male        5298
               2012 Female       404
                    Male        5767
               2013 Female       367
                    Male        5523

[710 rows x 1 columns]

## Education
- column names prefixed by EDUC

In [98]:
Education_fin = Education.query("is_state==1"). \
drop(["is_state","under_trial","detenues","others"],axis=1). \
pivot_table(index=["state_name","year"],
           columns=["gender","education"],
           values="convicts"). \
assign(All=lambda df: df.sum(axis=1))

Education_fin=Education_fin.div(Education_fin['All'], axis=0). \
drop(['All'],axis=1)

valColNames=["EDUC-prop-{}-{}".format(b_, a_) for a_, b_ in zip(Education_fin.columns.get_level_values(0),
         Education_fin.columns.get_level_values(1))]

Education_fin.columns=valColNames

Education_fin

                     EDUC-prop-Below Class X-Female  \
state_name     year
Andhra Pradesh 2001                        0.004738
               2002                        0.011084
               2003                        0.013406
               2004                        0.010493
               2005                        0.013770
...                                             ...
West Bengal    2009                        0.026187
               2010                        0.021980
               2011                        0.023322
               2012                        0.024307
               2013                        0.031409

                     EDUC-prop-Class X and above but below graduate-Female  \
state_name     year
Andhra Pradesh 2001                                           0.000000
               2002                                           0.000821
               2003                                           0.001943
               2004                                           0.000210
               2005                                           0.000200
...                                                                ...
West Bengal    2009                                           0.004055
               2010                                           0.003461
               2011                                           0.006184
               2012                                           0.005834
               2013                                           0.003396

                     EDUC-prop-Graduate-Female  \
state_name     year
Andhra Pradesh 2001                   0.000000
               2002                   0.000000
               2003                   0.000194
               2004                   0.000630
               2005                   0.000399
...                                        ...
West Bengal    2009                   0.001014
               2010                   0.001558
               2011                   0.001060
               2012                   0.003079
               2013                   0.001188

                     EDUC-prop-Holding technical degree/diploma etc-Female  \
state_name     year
Andhra Pradesh 2001                                           0.000000
               2002                                           0.000000
               2003                                           0.000000
               2004                                           0.000000
               2005                                           0.000000
...                                                                ...
West Bengal    2009                                           0.000000
               2010                                           0.000000
               2011                                           0.000000
               2012                                           0.000486
               2013                                           0.000170

                     EDUC-prop-Illiterate-Female  \
state_name     year
Andhra Pradesh 2001                     0.019427
               2002                     0.019089
               2003                     0.017680
               2004                     0.030010
               2005                     0.025145
...                                          ...
West Bengal    2009                     0.036831
               2010                     0.038941
               2011                     0.033039
               2012                     0.031275
               2013                     0.026146

                     EDUC-prop-Post-Graduate-Female  \
state_name     year
Andhra Pradesh 2001                        0.000000
               2002                        0.000000
               2003                        0.000194
               2004                        0.000000
               2005                        0.000000
...                                             ...
West Bengal    2009                        0.000338
               2010                        0.000000
               2011                        0.000353
               2012                        0.000486
               2013                        0.000000

                     EDUC-prop-Below Class X-Male  \
state_name     year
Andhra Pradesh 2001                      0.409619
               2002                      0.385673
               2003                      0.450165
               2004                      0.437356
               2005                      0.453203
...                                           ...
West Bengal    2009                      0.509883
               2010                      0.365524
               2011                      0.475442
               2012                      0.470750
               2013                      0.466553

                     EDUC-prop-Class X and above but below graduate-Male  \
state_name     year
Andhra Pradesh 2001                                           0.126036
               2002                                           0.132800
               2003                                           0.142996
               2004                                           0.135362
               2005                                           0.139892
...                                                                ...
West Bengal    2009                                           0.098834
               2010                                           0.114746
               2011                                           0.145406
               2012                                           0.116999
               2013                                           0.142954

                     EDUC-prop-Graduate-Male  \
state_name     year
Andhra Pradesh 2001                 0.070836
               2002                 0.038793
               2003                 0.040800
               2004                 0.033998
               2005                 0.036121
...                                      ...
West Bengal    2009                 0.027707
               2010                 0.025961
               2011                 0.029152
               2012                 0.026576
               2013                 0.031409

                     EDUC-prop-Holding technical degree/diploma etc-Male  \
state_name     year
Andhra Pradesh 2001                                           0.010898
               2002                                           0.011084
               2003                                           0.005246
               2004                                           0.006296
               2005                                           0.006586
...                                                                ...
West Bengal    2009                                           0.001689
               2010                                           0.003115
               2011                                           0.001767
               2012                                           0.002593
               2013                                           0.004075

                     EDUC-prop-Illiterate-Male  EDUC-prop-Post-Graduate-Male
state_name     year
Andhra Pradesh 2001                   0.341388                      0.017058
               2002                   0.396346                      0.004310
               2003                   0.321158                      0.006217
               2004                   0.339140                      0.006506
               2005                   0.317701                      0.006985
...                                        ...                           ...
West Bengal    2009                   0.290759                      0.002703
               2010                   0.420907                      0.003808
               2011                   0.282332                      0.001943
               2012                   0.311943                      0.005672
               2013                   0.289304                      0.003396

[355 rows x 12 columns]

In [99]:
Education.query("is_state==1"). \
drop(["is_state","under_trial","detenues","others"],axis=1). \
groupby(["state_name","year","gender"]).sum()

                            convicts
state_name     year gender
Andhra Pradesh 2001 Female       102
                    Male        4119
               2002 Female       151
                    Male        4721
               2003 Female       172
...                              ...
West Bengal    2011 Male        5298
               2012 Female       404
                    Male        5767
               2013 Female       367
                    Male        5523

[710 rows x 1 columns]

## Sentence Period

- Missing values in the wide-pivoted data are equivalent to zero counts. 
- Total counts of female and male prisoners by age group are usually larger than in the Age_group dataframe
- Column names prefixed by SP

In [100]:
Sentence_period_fin = Sentence_period.query('is_state==1'). \
drop(["is_state"],axis=1). \
pivot_table(index=["state_name","year"], 
                   columns = ["gender","sentence_period"]). \
fillna(0). \
assign(All=lambda df: df.sum(axis=1))

Sentence_period_fin=Sentence_period_fin.div(Sentence_period_fin['All'], axis=0). \
drop(['All'],axis=1)

valColNames=["SP-prop-{}-{}".format(b_, a_) for a_, b_ in zip(Sentence_period_fin.columns.get_level_values(0),
         Sentence_period_fin.columns.get_level_values(1))]

Sentence_period_fin.columns=valColNames

Sentence_period_fin

                     SP-prop-Female-age_16_18_years  \
state_name     year
Andhra Pradesh 2001                             0.0
               2002                             0.0
               2003                             0.0
               2004                             0.0
               2005                             0.0
...                                             ...
West Bengal    2009                             0.0
               2010                             0.0
               2011                             0.0
               2012                             0.0
               2013                             0.0

                     SP-prop-Female-age_16_18_years  \
state_name     year
Andhra Pradesh 2001                             0.0
               2002                             0.0
               2003                             0.0
               2004                             0.0
               2005                             0.0
...                                             ...
West Bengal    2009                             0.0
               2010                             0.0
               2011                             0.0
               2012                             0.0
               2013                             0.0

                     SP-prop-Female-age_16_18_years  \
state_name     year
Andhra Pradesh 2001                             0.0
               2002                             0.0
               2003                             0.0
               2004                             0.0
               2005                             0.0
...                                             ...
West Bengal    2009                             0.0
               2010                             0.0
               2011                             0.0
               2012                             0.0
               2013                             0.0

                     SP-prop-Female-age_16_18_years  \
state_name     year
Andhra Pradesh 2001                             0.0
               2002                             0.0
               2003                             0.0
               2004                             0.0
               2005                             0.0
...                                             ...
West Bengal    2009                             0.0
               2010                             0.0
               2011                             0.0
               2012                             0.0
               2013                             0.0

                     SP-prop-Female-age_16_18_years  \
state_name     year
Andhra Pradesh 2001                             0.0
               2002                             0.0
               2003                             0.0
               2004                             0.0
               2005                             0.0
...                                             ...
West Bengal    2009                             0.0
               2010                             0.0
               2011                             0.0
               2012                             0.0
               2013                             0.0

                     SP-prop-Female-age_16_18_years  \
state_name     year
Andhra Pradesh 2001                             0.0
               2002                             0.0
               2003                             0.0
               2004                             0.0
               2005                             0.0
...                                             ...
West Bengal    2009                             0.0
               2010                             0.0
               2011                             0.0
               2012                             0.0
               2013                             0.0

                     SP-prop-Female-age_16_18_years  \
state_name     year
Andhra Pradesh 2001                             0.0
               2002                             0.0
               2003                             0.0
               2004                             0.0
               2005                             0.0
...                                             ...
West Bengal    2009                             0.0
               2010                             0.0
               2011                             0.0
               2012                             0.0
               2013                             0.0

                     SP-prop-Female-age_16_18_years  \
state_name     year
Andhra Pradesh 2001                             0.0
               2002                             0.0
               2003                             0.0
               2004                             0.0
               2005                             0.0
...                                             ...
West Bengal    2009                             0.0
               2010                             0.0
               2011                             0.0
               2012                             0.0
               2013                             0.0

                     SP-prop-Female-age_16_18_years  \
state_name     year
Andhra Pradesh 2001                             0.0
               2002                             0.0
               2003                             0.0
               2004                             0.0
               2005                             0.0
...                                             ...
West Bengal    2009                             0.0
               2010                             0.0
               2011                             0.0
               2012                             0.0
               2013                             0.0

                     SP-prop-Female-age_16_18_years  ...  \
state_name     year                                  ...
Andhra Pradesh 2001                             0.0  ...
               2002                             0.0  ...
               2003                             0.0  ...
               2004                             0.0  ...
               2005                             0.0  ...
...                                             ...  ...
West Bengal    2009                             0.0  ...
               2010                             0.0  ...
               2011                             0.0  ...
               2012                             0.0  ...
               2013                             0.0  ...

                     SP-prop-Male-age_50_above  SP-prop-Male-age_50_above  \
state_name     year
Andhra Pradesh 2001                   0.002369                   0.004501
               2002                   0.005747                   0.006773
               2003                   0.002914                   0.009132
               2004                   0.003148                   0.010493
               2005                   0.003592                   0.004989
...                                        ...                        ...
West Bengal    2009                   0.009123                   0.020105
               2010                   0.009346                   0.012807
               2011                   0.014841                   0.008834
               2012                   0.023659                   0.011019
               2013                   0.023599                   0.028862

                     SP-prop-Male-age_50_above  SP-prop-Male-age_50_above  \
state_name     year
Andhra Pradesh 2001                   0.009950                   0.000000
               2002                   0.001232                   0.000000
               2003                   0.005051                   0.000000
               2004                   0.006716                   0.000000
               2005                   0.002195                   0.000000
...                                        ...                        ...
West Bengal    2009                   0.001689                   0.000000
               2010                   0.001038                   0.000000
               2011                   0.003534                   0.000000
               2012                   0.002431                   0.000000
               2013                   0.000000                   0.003565

                     SP-prop-Male-age_50_above  SP-prop-Male-age_50_above  \
state_name     year
Andhra Pradesh 2001                   0.006397                   0.009713
               2002                   0.005952                   0.006979
               2003                   0.006800                   0.005246
               2004                   0.007555                   0.011752
               2005                   0.003792                   0.004191
...                                        ...                        ...
West Bengal    2009                   0.014023                   0.005575
               2010                   0.009692                   0.002596
               2011                   0.008127                   0.005124
               2012                   0.007778                   0.009399
               2013                   0.024109                   0.004244

                     SP-prop-Male-age_50_above  SP-prop-Male-age_50_above  \
state_name     year
Andhra Pradesh 2001                   0.001895                   0.000000
               2002                   0.008415                   0.000000
               2003                   0.006412                   0.000000
               2004                   0.005037                   0.000000
               2005                   0.002195                   0.000000
...                                        ...                        ...
West Bengal    2009                   0.013009                   0.000000
               2010                   0.009692                   0.000000
               2011                   0.020671                   0.000000
               2012                   0.012640                   0.000162
               2013                   0.024278                   0.000170

                     SP-prop-Male-age_50_above  SP-prop-Male-age_50_above
state_name     year
Andhra Pradesh 2001                   0.004027                   0.050225
               2002                   0.002668                   0.045361
               2003                   0.012046                   0.064504
               2004                   0.003358                   0.037985
               2005                   0.000599                   0.054081
...                                        ...                        ...
West Bengal    2009                   0.003210                   0.086332
               2010                   0.004154                   0.092766
               2011                   0.004240                   0.111131
               2012                   0.002755                   0.066278
               2013                   0.000000                   0.052122

[356 rows x 96 columns]

In [101]:
Sentence_period.query('is_state==1').drop(['is_state'],axis=1).groupby(["state_name","year","gender"]).sum(). \
assign(total= lambda df: df.iloc[:,:].sum(axis=1))

                            age_16_18_years  age_18_30_years  age_30_50_years  \
state_name     year gender
Andhra Pradesh 2001 Female                0               28               50
                    Male                  5             1639             2087
               2002 Female                0               44               71
                    Male                  3             1986             2292
               2003 Female                0               53               73
...                                     ...              ...              ...
West Bengal    2011 Male                  0             1801             2461
               2012 Female                0              133              143
                    Male                  0             2235             2660
               2013 Female                0              123              147
                    Male                  0             1805             2691

                            age_50_above  total
state_name     year gender
Andhra Pradesh 2001 Female            24    102
                    Male             388   4119
               2002 Female            36    151
                    Male             440   4721
               2003 Female            46    172
...                                  ...    ...
West Bengal    2011 Male            1036   5298
               2012 Female           128    404
                    Male             872   5767
               2013 Female            97    367
                    Male            1027   5523

[712 rows x 5 columns]

## Age_group
- Same information (but somewhat mismatched and lower prisoner counts) as sentence period
- Do not use this dataframe

In [102]:
Age_group.query('type=="Convicts" and is_state==1 and category!="Foreigners"'). \
drop(['is_state','category','type'],axis=1). \
assign(total= lambda df: df.iloc[:,3:].sum(axis=1))

,state_name,year,gender,age_16_18,age_18_30,age_30_50,age_50_above,total
216,Andhra Pradesh,2001,Female,0.0,28,50,24,102.0
217,Andhra Pradesh,2001,Male,5.0,1638,2085,388,4116.0
232,Andhra Pradesh,2002,Female,0.0,44,71,36,151.0
233,Andhra Pradesh,2002,Male,3.0,1982,2292,440,4717.0
248,Andhra Pradesh,2003,Female,0.0,53,73,46,172.0
...,...,...,...,...,...,...,...,...
7113,West Bengal,2011,Male,0.0,1369,2219,956,4544.0
7128,West Bengal,2012,Female,0.0,94,116,115,325.0
7129,West Bengal,2012,Male,0.0,1650,2363,793,4806.0
7144,West Bengal,2013,Female,0.0,78,112,84,274.0
7145,West Bengal,2013,Male,0.0,1368,2483,988,4839.0

## Caste

- SC/ST refers to class traditionally known as untouchables/Dalits
- OBC is an umbrella class of other economically/socially disadvantaged citizens
- Others refers to relatively well-off citizens
- column names prefixed by CTE

In [103]:
Caste_fin = Caste.iloc[:,:6].query('is_state==1'). \
pivot_table(index=["state_name","year"], 
                   columns = ["gender","caste"],
                   values="convicts"). \
assign(All=lambda df: df.sum(axis=1))

Caste_fin=Caste_fin.div(Caste_fin['All'], axis=0). \
drop(['All'],axis=1)

valColNames=["CST-prop-{}-{}".format(b_, a_) for a_, b_ in zip(Caste_fin.columns.get_level_values(0),
         Caste_fin.columns.get_level_values(1))]

Caste_fin.columns=valColNames

Caste_fin

                     CST-prop-OBC-Female  CST-prop-Others-Female  \
state_name     year
Andhra Pradesh 2001             0.011846                0.002843
               2002             0.013342                0.005952
               2003             0.020400                0.006023
               2004             0.024344                0.006506
               2005             0.023947                0.003792
...                                  ...                     ...
West Bengal    2009             0.004899                0.044095
               2010             0.008827                0.041537
               2011             0.006007                0.042403
               2012             0.002431                0.051531
               2013             0.006452                0.038200

                     CST-prop-SC-Female  CST-prop-ST-Female  \
state_name     year
Andhra Pradesh 2001            0.007818            0.001658
               2002            0.006979            0.004721
               2003            0.004857            0.002137
               2004            0.007345            0.003148
               2005            0.008182            0.003592
...                                 ...                 ...
West Bengal    2009            0.011826            0.007603
               2010            0.011596            0.003981
               2011            0.010424            0.005124
               2012            0.007940            0.003565
               2013            0.014771            0.002886

                     CST-prop-OBC-Male  CST-prop-Others-Male  \
state_name     year
Andhra Pradesh 2001           0.361526              0.222459
               2002           0.376232              0.272373
               2003           0.442782              0.225763
               2004           0.450367              0.252676
               2005           0.439234              0.261824
...                                ...                   ...
West Bengal    2009           0.067748              0.639635
               2010           0.105054              0.592246
               2011           0.056360              0.601943
               2012           0.074380              0.604764
               2013           0.100679              0.619185

                     CST-prop-SC-Male  CST-prop-ST-Male
state_name     year
Andhra Pradesh 2001          0.292822          0.099029
               2002          0.241585          0.078818
               2003          0.224014          0.074024
               2004          0.192655          0.062959
               2005          0.199960          0.059469
...                               ...               ...
West Bengal    2009          0.141578          0.082615
               2010          0.141571          0.095189
               2011          0.132686          0.145053
               2012          0.159131          0.096257
               2013          0.143803          0.074024

[355 rows x 8 columns]

In [104]:
Caste.query('is_state==1').drop(['is_state','under_trial','detenues','others'],axis=1). \
groupby(["state_name","year","gender"]).sum()

                            convicts
state_name     year gender
Andhra Pradesh 2001 Female       102
                    Male        4119
               2002 Female       151
                    Male        4721
               2003 Female       172
...                              ...
West Bengal    2011 Male        5298
               2012 Female       404
                    Male        5767
               2013 Female       367
                    Male        5523

[710 rows x 1 columns]

# Ambiguous Count (from surveyed or population?)

In [105]:
Education_facilities

,state_name,year,elementary_education,adult_education,higher_education,computer_course
0,Andhra Pradesh,2001,2699,2161,301,52
1,Andhra Pradesh,2002,2420,4745,396,34
2,Andhra Pradesh,2003,1606,7594,369,39
3,Andhra Pradesh,2004,5950,8213,305,30
4,Andhra Pradesh,2005,3720,10962,389,1
...,...,...,...,...,...,...
440,D & N Haveli,2013,0,0,0,0
441,Daman & Diu,2013,0,0,0,0
442,Delhi,2013,1458,1187,908,174
443,Lakshadweep,2013,0,0,0,0
444,Pondicherry,2013,0,0,0,0

## Tranquility

- aggregated over prisoner and personnel injuries/deaths as well as types of unrest
- about 3/4 of regions have 0 recorded incidents of violence

In [132]:
Tranquility_fin = Tranquillity.assign(injured=lambda df: df["inmate_injured"]+df["jail_personnel_injured"],
                   killed=lambda df: df["inmate_killed"]+df["jail_personnel_killed"]). \
drop(["inmate_injured","jail_personnel_injured","inmate_killed","jail_personnel_killed"],axis=1). \
groupby(["state_name","year"]).sum()

## Vocational Training
- Hundreds of unique training jobs; need to compress information to keep model identifiable
- Some prisoners are in multiple training problems: in Punjab, for example, 
- For now, I use total number of inmates getting vocational training as a variable, not accounting for double counting

In [107]:
Vocational_training_fin = Vocational_training.groupby(["state_name","year"]).sum()
#.pivot_table(index=["state_name","year"],
#                                columns="vocational_trainings_program",
#                                values="inmates_trained")

In [122]:
len(Vocational_training.vocational_trainings_program.unique())

1271

## Rehabilitation
- This dataframe is already in a nice wide form.

In [109]:
Rehabilitation

,state_name,year,financial_assistance_provided,rehabilitated,legal_aid_provided
0,Andhra Pradesh,2001,14,75,2594
1,Andhra Pradesh,2002,37,108,1876
2,Andhra Pradesh,2003,0,0,2126
3,Andhra Pradesh,2004,0,0,909
4,Andhra Pradesh,2005,0,204,2342
...,...,...,...,...,...
440,D & N Haveli,2013,0,0,0
441,Daman & Diu,2013,0,0,0
442,Delhi,2013,0,34,34384
443,Lakshadweep,2013,0,0,0
444,Pondicherry,2013,6,6,21

## Recidivism

I mutate the recidivism ratio (number of habitual offenders over number of admitted convicts) for each state and year.

In [112]:
Recidivism_fin = Recidivism.assign(recidiv_ratio= \
                  lambda df: df["habitual_offenders"]/df["convicts_admitted"])
Recidivism_fin

,state_name,year,convicts_admitted,habitual_offenders,recidiv_ratio
0,Andhra Pradesh,2001,17345,1063,0.061286
1,Andhra Pradesh,2002,13322,318,0.023870
2,Andhra Pradesh,2003,15682,536,0.034179
3,Andhra Pradesh,2004,14397,399,0.027714
4,Andhra Pradesh,2005,12389,977,0.078860
...,...,...,...,...,...
442,Dadra And Nagar Haveli,2013,0,0,NaN
443,Daman And Diu,2013,9,0,0.000000
444,Delhi,2013,7015,1103,0.157234
445,Lakshadweep,2013,0,0,NaN
446,Puducherry,2013,166,39,0.234940

In [134]:
tidy_Indian_Prison_df = pd.merge(Recidivism_fin, Caste_fin, on=["state_name","year"]). \
merge(Sentence_period_fin, on=["state_name","year"]). \
merge(Education_fin, on=["state_name","year"]). \
merge(Religion_fin, on=["state_name","year"]). \
merge(IPC_crime_inmates_convicted_fin,on=["state_name","year"]). \
merge(Jail_wise_population_of_prison_inmates_fin, on=["state_name","year"]). \
merge(Education_facilities, on=["state_name","year"]). \
merge(Vocational_training_fin, on=["state_name","year"]). \
merge(Rehabilitation, on=["state_name","year"]). \
merge(Tranquility_fin, on=["state_name","year"])

tidy_Indian_Prison_df

,state_name,year,convicts_admitted,habitual_offenders,recidiv_ratio,CST-prop-OBC-Female,CST-prop-Others-Female,CST-prop-SC-Female,CST-prop-ST-Female,CST-prop-OBC-Male,...,adult_education,higher_education,computer_course,inmates_trained,financial_assistance_provided,rehabilitated,legal_aid_provided,incidence,injured,killed
0,Andhra Pradesh,2001,17345,1063,0.061286,0.011846,0.002843,0.007818,0.001658,0.361526,...,2161,301,52,1498.0,14,75,2594,0,0,0
1,Andhra Pradesh,2002,13322,318,0.023870,0.013342,0.005952,0.006979,0.004721,0.376232,...,4745,396,34,1235.0,37,108,1876,0,0,0
2,Andhra Pradesh,2003,15682,536,0.034179,0.020400,0.006023,0.004857,0.002137,0.442782,...,7594,369,39,112.0,0,0,2126,0,0,0
3,Andhra Pradesh,2004,14397,399,0.027714,0.024344,0.006506,0.007345,0.003148,0.450367,...,8213,305,30,1131.0,0,0,909,0,0,0
4,Andhra Pradesh,2005,12389,977,0.078860,0.023947,0.003792,0.008182,0.003592,0.439234,...,10962,389,1,1915.0,0,204,2342,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,Rajasthan,2013,5995,297,0.049541,0.008604,0.010920,0.008769,0.007942,0.348610,...,237,64,38,6475.0,0,25,244,27,12,0
314,Sikkim,2013,125,5,0.040000,0.009615,0.000000,0.009615,0.000000,0.384615,...,0,0,0,47.0,0,0,428,0,0,0
315,Tripura,2013,1485,28,0.018855,0.009960,0.005976,0.011952,0.000000,0.239044,...,13,4,2,329.0,0,0,12,0,0,0
316,Uttar Pradesh,2013,30159,1081,0.035843,0.015014,0.012051,0.009957,0.001027,0.365863,...,8093,1353,212,3346.0,347,0,2461,3,5,0
317,West Bengal,2013,9152,982,0.107299,0.006452,0.038200,0.014771,0.002886,0.100679,...,1889,123,460,1938.0,69,25,2964,22,25,0